.DS_Store
node_modules/
npm-debug.log
.idea/
.vscode/

dist/**
lib/**
coverage/

/node_modules/
/bower_components/
/.devtools
/.git/
/.sass-cache/
/.hg/
/.idea/
/.svn/
/.cache/
/.project/
/.DS_Store$
/.Trashes$
/.Spotlight-V100$
/.AppleDouble$
/.LSOverride$
/Icon$
/._.*$
